{% extends "base.html" %}

{% block content %}
	<div class="wrapper fadeInDown">
	  <div id="formContent">
	    <!-- Tabs Titles -->

	    <!-- Icon -->
	    <div class="fadeIn first">
	      <img src="/static/images/call_button.png" id="icon" alt="Call Icon" />
	    </div>

	    <!-- Login Form -->
	    <form>
	      <p>Call in progress</p>
	    </form>

	    <!-- Remind Passowrd -->
	    <div id="formFooter">
	      <a class="underlineHover" href="#">PlanMiner SoftPone</a>
	    </div>

	  </div>
	</div>
{% endblock %}

